[submodule "wineditline"]
	path = external/wineditline
	url = https://github.com/uyjulian/wineditline.git
	ignore = dirty
[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
	branch = mingw
