[submodule "wineditline"]
	path = wineditline
	url = git@github.com:winlibs/wineditline.git
	ignore = dirty
[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
	branch = mingw
